.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: 500;
}