<div class="p-4">
    <h2 class="text-xl font-bold mb-4">Filter Products</h2>
    
    <div class="d-flex flex-row justify-content-between gap-8">  
        <div class="flex-1">
            <h3 class="font-semibold text-lg mb-2">Brands</h3>
            <mat-selection-list [(ngModel)]="selectedBrands" [multiple]="true">
                @for (brand of shopService.brands; track brand) {
                    <mat-list-option [value]="brand" class="hover:bg-gray-100">
                        {{ brand }}
                    </mat-list-option>
                }
            </mat-selection-list>
        </div>
        
        <mat-divider [vertical]="true" class="my-5"></mat-divider>
        
        <div class="flex-1">
            <h3 class="font-semibold text-lg mb-2">Types</h3>
            <mat-selection-list [(ngModel)]="selectedTypes" [multiple]="true">
                @for (type of shopService.types; track type) {
                    <mat-list-option [value]="type" class="hover:bg-gray-100">
                        {{ type }}
                    </mat-list-option>
                }
            </mat-selection-list>
        </div>
    </div>
    <div class="p-4">
        
        <div class="d-flex justify-content-between align-items-center mt-4">
            <button mat-raised-button 
                    class="bg-primary text-white"
                    (click)="clearFilters()">
                Clear All
            </button>
            
            <div class="d-flex gap-3">
                <button mat-raised-button 
                        class="bg-primary text-white" 
                        (click)="onCancel()">
                    Cancel
                </button>
                <button mat-raised-button 
                        class="bg-primary text-white" 
                        (click)="applyFilters()">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>